[Unit]
Description=adoctor check executor
After=network.target
StartLimitIntervalSec=5

[Service]
Type=simple
ExecStart=/usr/bin/adoctor-check-executor start
ExecStop=/usr/bin/adoctor-check-executor stop
Restart=on-failure
RestartSec=1
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target