[Unit]
Description=a-ops agent service
After=network.target

[Service]
Type=exec
ExecStart=/usr/bin/aops_agent
Restart=on-failure
RestartSec=1
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
