[Unit]
Description=Apache Kafka server (broker)
After=network.target  zookeeper.service

[Service]
Type=simple
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/java/jdk/bin"
User={{ user }}
Group={{ group }}
ExecStart={{ install_dir }}/bin/kafka-server-start.sh {{ install_dir }}/config/server.properties
ExecStop={{ install_dir }}/bin/kafka-server-stop.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target