[producer]
kafka_server_list={{ kafka_server_list }}
api_version=0.11.5
acks=1
retries=3
retry_backoff_ms=100

[topic]
name=DIAGNOSE_EXECUTE_REQ

[diag_scheduler]
ip=127.0.0.1
port={{ diag_scheduler_port }}

[uwsgi]
wsgi-file=manage.py
daemonize=/var/log/aops/uwsgi/diag_scheduler.log
http-timeout=600
harakiri=600