[consumer]
kafka_server_list={{ kafka_server_list }}
group_id=DiagGroup
enable_auto_commit=False
auto_offset_reset=earliest
timeout_ms=5
max_records=3

[producer]
kafka_server_list={{ kafka_server_list }}
api_version=0.11.5
acks=1
retries=3
retry_backoff_ms=100

[executor]
plugin_path = adoctor_check_executor.check_rule_plugins
do_check_consumer_num = 2
sample_period = 15
