[producer]
kafka_server_list = {{ kafka_server_list }}
api_version = 0.11.5
acks = 1
retries = 3
retry_backoff_ms = 100

[consumer]
kafka_server_list = {{ kafka_server_list }}
group_id = DiagGroup
enable_auto_commit = False
auto_offset_reset = earliest
timeout_ms = 5
max_records = 3

[check_scheduler]
ip = {{ ansible_host }}
port = {{ check_scheduler_port }}
max_retry_num = 3
cool_down_time = 120
max_dead_retry_task = 10000
dead_retry_task_discount = 0.5
backward_task_step = 60
backward_task_interval = 30
forward_task_interval = 30
forward_max_task_step = 86400 # 1 day
