[producer]
kafka_server_list = {{ kafka_server_list }}
api_version = 0.11.5
acks = 1
retries = 3
retry_backoff_ms = 100

[consumer]
kafka_server_list = {{ kafka_server_list }}
enable_auto_commit = False
auto_offset_reset = earliest
timeout_ms = 5
max_records = 3

[check_scheduler]
ip = 127.0.0.1
port = {{ check_scheduler_port }}
max_retry_num = 3
cool_down_time = 120
max_dead_retry_task = 1000
dead_retry_task_discount = 0.5
backward_task_step = 60
backward_task_interval = 60
; Indicates the minimum timestamp, which is the end point of a historical task.
; Earliest detected Sep 1, 2021 at 01:01:00
backward_min_timestamp = 1630429261
forward_task_interval = 60
;forward max task step default 1 day
forward_max_task_step = 86400

[uwsgi]
wsgi-file=manage.py
daemonize=/var/log/aops/uwsgi/check_scheduler.log
http-timeout=600
harakiri=600